*{
  margin: 0;
  padding: 0;
}
.bg{
  background: #0d3d36;
  height: 100vh;
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  font-size: 28px;
}
.button{
  width: 70px;
  height: 70px;
  margin: 6px;
  background: #0e483d;
  border: none;
  color: #d3e8f5;
  font: inherit;
  transition: all 0.5s; 
  outline: none;
}
.button:hover{
  background: #259b87;
  border: 3px solid #d3e8f5;
  transition: 0.5s;           
}
.textview{
  color: #d3e8f5;
  text-align: right;
  background: transparent;
  border: none;
  outline: none;
  height: 40px;
  width: 315px;
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  font: inherit;
  cursor: pointer;          
}
.btn-zero{
  width: 155px;
}
.btn-equal{
  height: 154px;
}